.fancybox {
  font-size: 24px;
  background: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 15px 20px;
  cursor: pointer;
  width: 300px;
  border-radius: 4px;
  color: #E13745;
  border: 1px solid #d0d0d0;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fancybox:hover {
  background: #e6e6e6;
  color: #535353;
}

@media (max-width: 320px) {
  .fancybox {
    margin-top: 100px;
  }
}

@media (max-width: 375px) {
  .fancybox {
    margin-top: 70px;
  }
}

.panel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  overflow-y: scroll;
  background-color: rgba(72, 72, 72, 0.25);
}

.panel .fancy-close {
  position: absolute;
  z-index: 900;
  top: 0em;
  right: 0em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  color: #b9b9b9;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.panel .bottom-close {
  position: static;
  width: 100%;
}

.fancy-close .fa:hover {
  color: #8a8a8a;
}

.panel .closeArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@keyframes open_dialog{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.panel .infoContainer {
  position: relative;
  z-index: 900;
  width: 600px;
  opacity: 0;
  background-color: #fff;
  margin: 4em auto;
  border-radius: 4px;
  height: 80%;
  padding: 35px;
  overflow-y: scroll;
  max-width: 100%;
}

.panel .infoContainer-yt {
  position: relative;
  z-index: 900;
  width: 1140px;
  opacity: 0;
  background-color: #fff;
  margin: 4em auto;
  border-radius: 4px;
  height: 80%;
  padding: 35px;
  max-width: 100%;
}

@media (max-width: 426px) {
  .panel .infoContainer {
    height: 70%;
  }
}

.infoContainer.fade-in{
  animation: open_dialog .2s ease-in-out forwards;
}

.q-and-a {
  text-align: center;
}

.q-and-a h4 {
  text-align: left;
}

.q-and-a img {
  width: 300px;
  max-width: 100%;
}

.q-and-a .ans {
  color: #7a7a7a;
}

.q-and-a b {
  background: #FFFF9E;
  padding: 4px 6px;
}
