*:not(.fa) {
    font-family: pingfang tc, xingothic-tc;
}

* {
	-webkit-font-smoothing: antialiased;
}

html, body {
	width: 100%;
	height: 100%;
}




@media (min-width: 1500px) {
	.container {
	    width: 1370px;
	}
}

@media (min-width: 1800px) {
	.container {
	    width: 1670px;
	}
}