.center {
	text-align: center;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, span, p {
	line-height: 1.7;
	color: #535353;
}

h1, h2 {
	font-weight: 700;
}

h3, h4, h5, h6, span, p {
	font-weight: 400;
}

h4, span, p {
	font-size: 15px;
}


/* flex box zone */
.flex-va {
	display: flex;
	align-items: center;
}

.flex-ha {
	display: flex;
	justify-content: center;
}

.flex-md {
	display: flex;
	align-items: center;
	justify-content: center;
}

.h-800 {
	height: 800px;
}

.h-700 {
	height: 700px;
}

.h-400 {
	height: 400px;
}