#page1 {
	height: 100%;
}

.hi {
	color: red;
	height: 100vh;
}

.logo {
	width: 38%;
	margin-bottom: 10%;
}

._page1_icon {
	width: 20%;
    margin-top: 4%;
}

.animals {
	/*position: relative;*/
	position: absolute;
	bottom: -11%;
	z-index: -1;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	left: 4%;
	text-align: center;
}

.animals img {
	width: 19%;
}

.animals-1 { margin-right: -7%; }
.animals-2 { margin-right: -5%; }
.animals-3 { margin-left: -5%; }
.animals-4 { margin-left: -4%; }

@media (max-width: 768px) { .animals { bottom: -8%; } }
@media (max-width: 1110px) { .animals { bottom: -9%; } }

@media (max-width: 426px) {
	.animals { bottom: -3%; left:0; }
	._page1_icon_top_sm { display: block; }
	._page1_icon_top_lg { display: none; }
	._page1_icon_bottom_sm { display: block; }
	._page1_icon_bottom_lg { display: none; }
	._page1_icon {
	    width: 74%;
	    margin: 9% 0;
	}
	.flex-bt {
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	.logo {
	    width: 70%;
	    margin-bottom: 0;
	}
	.margin-top-120 { margin-top: 120px; }
}

@media (min-device-width:426px) {
	._page1_icon_top_sm { display: none; }
	._page1_icon_top_lg { display: block; }
	._page1_icon_bottom_sm { display: none; }
	._page1_icon_bottom_lg { display: block; }

}

.animals-animation-1 {
	-webkit-transform: translateY(38%);
	    -ms-transform: translateY(38%);
	        transform: translateY(38%);
    -webkit-animation: yellow-cat .5s cubic-bezier(0, 0.39, 0.51, 2.16) 1.1s 1 normal forwards;
            animation: yellow-cat .5s cubic-bezier(0, 0.39, 0.51, 2.16) 1.1s 1 normal forwards;
}
.animals-animation-2 {
	-webkit-transform: translateY(38%);
	    -ms-transform: translateY(38%);
	        transform: translateY(38%);
    -webkit-animation: yellow-cat .5s cubic-bezier(0, 0.39, 0.51, 2.16) 1.3s 1 normal forwards;
            animation: yellow-cat .5s cubic-bezier(0, 0.39, 0.51, 2.16) 1.3s 1 normal forwards;
}
.animals-animation-3 {
	-webkit-transform: translateY(38%);
	    -ms-transform: translateY(38%);
	        transform: translateY(38%);
    -webkit-animation: yellow-cat .5s cubic-bezier(0, 0.39, 0.51, 2.16) 1.2s 1 normal forwards;
            animation: yellow-cat .5s cubic-bezier(0, 0.39, 0.51, 2.16) 1.2s 1 normal forwards;
}
.animals-animation-4 {
	-webkit-transform: translateY(38%);
	    -ms-transform: translateY(38%);
	        transform: translateY(38%);
    -webkit-animation: yellow-cat .5s cubic-bezier(0, 0.39, 0.51, 2.16) 1.4s 1 normal forwards;
            animation: yellow-cat .5s cubic-bezier(0, 0.39, 0.51, 2.16) 1.4s 1 normal forwards;
}
.animals-animation-5 {
	-webkit-transform: translateY(38%);
	    -ms-transform: translateY(38%);
	        transform: translateY(38%);
    -webkit-animation: yellow-cat .5s cubic-bezier(0, 0.39, 0.51, 2.16) 1s 1 normal forwards;
            animation: yellow-cat .5s cubic-bezier(0, 0.39, 0.51, 2.16) 1s 1 normal forwards;
}
@-webkit-keyframes yellow-cat {
	0% {
	    -webkit-transform: translateY(38%);
	            transform: translateY(38%);
	}
  	100% {
	    -webkit-transform: translateY(0%);
	            transform: translateY(0%);
  	}
}
@keyframes yellow-cat {
	0% {
	    -webkit-transform: translateY(38%);
	            transform: translateY(38%);
	}
  	100% {
	    -webkit-transform: translateY(0%);
	            transform: translateY(0%);
  	}
}