#page1 {
	height: 100%;
}

.hi {
	color: red;
	height: 100vh;
}

.logo {
	width: 38%;
	margin-bottom: 10%;
}

._page1_icon {
	width: 20%;
    margin-top: 4%;
}

.animals {
	/*position: relative;*/
	position: absolute;
	bottom: -11%;
	z-index: -1;
	align-items: flex-end;
	justify-content: space-around;
	left: 4%;
}

.animals img {
	width: 19%;
}

@media (max-width: 768px) {
	.animals {
		bottom: -8%;
	}
}

@media (max-width: 426px) {
	.animals { bottom: 5%; left:0; }
	._page1_icon_top_sm { display: block; }
	._page1_icon_top_lg { display: none; }
	._page1_icon_bottom_sm { display: block; }
	._page1_icon_bottom_lg { display: none; }
}

@media (min-device-width:426px) {
	._page1_icon_top_sm { display: none; }
	._page1_icon_top_lg { display: block; }
	._page1_icon_bottom_sm { display: none; }
	._page1_icon_bottom_lg { display: block; }
}


