#page2 {
    background: #eee;
}

.pop {
    transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: none;
}

.pop-active{
    transform: scale(1);
    opacity: 1;
    display: block;
}

.tab-inner-content img{
    /*width: 100%;*/
}

.answer img {
    width: 200px;
}

.answer h5 {
    text-align: left;
}

/* navs */
.nav-tabs img {
    width: 130px;
    max-width: 100%;
}

.nav-tabs { border: none; }
.nav-tabs>li {
    max-width: 25%;
}
.nav-tabs>li>a { 
    border: 1px solid #3A3A3A;
    border-width: 2px 1px 2px 1px;
    background: #fff;
    color: #3A3A3A;
    font-size: 18px;
    border-radius: 0;
    margin-right: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-tabs>li>a:hover {
    border-color: #3A3A3A;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #fff;
}

.nav-tabs>li:first-child a, .nav-tabs>li.active:first-child a, .nav-tabs>li:first-child.active>a:focus { 
    border-radius: 4px 0 0 4px; border-width: 2px 1px 2px 2px; 
}
.nav-tabs>li:last-child a, .nav-tabs>li.active:last-child a, .nav-tabs>li:last-child.active>a:focus {
    border-radius: 0 4px 4px 0; border-width: 2px 2px 2px 1px; 
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #3A3A3A;
    border: 1px solid #3A3A3A;
    border-width: 2px 1px 2px 1px;
    color: #fff;
}

.nav-tabs li:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #3A3A3A transparent transparent transparent;
    -ms-filter: "alpha(opacity=$num)";
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$num)";
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    left: 0;
    right: 0;
    margin: auto;
    bottom: -12px;
}

.nav-tabs li.active:after {
    opacity: 1;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
    
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.flex-item:nth-of-type(1) { flex-grow: 1; }
.flex-item:nth-of-type(2) { flex-grow: 3; }
.flex-item:nth-of-type(3) { flex-grow: 1; }


/*conversation*/
ul.ChatLog {
  list-style: none;
}

.ChatLog {
  /*max-width: 40em;*/
  margin: 0 auto;
  padding: 0;
}
.ChatLog .ChatLog__entry {
  margin: 1em;
}

.ChatLog__entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}

.ChatLog__entry.ChatLog__entry_mine {
  flex-direction: row-reverse;  
}

.ChatLog__avatar {
  flex-shrink: 0;
  flex-grow: 1;
  z-index: 1;
  /*height: 100%;*/
  width: 20%;
  max-width: 220px;
}

.ChatLog__entry.ChatLog__entry_mine 
.ChatLog__avatar {
  display: block;
}

.ChatLog__entry .ChatLog__message {
  position: relative;
  margin: 0 10px 0 10px;
  /*width: 100%;*/
}

.ChatLog__entry .ChatLog__message::before {
  position: absolute;
  right: auto;
  top: 1.5em;
  left: -19px;
  height: 0;
  content: '';
  border: 10px solid transparent;
  border-right-color: #ddd;
  z-index: 2;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
  right: -19px;
  top: 1.5em;
  left: auto;
  border: 10px solid transparent;
  border-left-color: #D4D4D4;
}

.ChatLog__message {
  background-color: #ddd;
  padding: 1em;
  border-radius: 4px;
  max-width: 100%;
  text-align: left;
  flex-grow: 3;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
  border: 1px solid #D4D4D4;
  background-color: #D4D4D4;
  color: #535353;
}

/*blue*/
<<<<<<< 41a21b35957ed1d3bbe4056d1d1bf62758e0ce43
/*.ChatLog__entry.ChatLog__entry_mine .blue { background-color: #C1CBDB; border: 1px solid #C1CBDB; }
.ChatLog__entry.ChatLog__entry_mine .blue::before { border-left-color: #C1CBDB; }*/
/*red*/
/*.ChatLog__entry.ChatLog__entry_mine .red { background-color: #E4C8CC; border: 1px solid #E4C8CC; }
.ChatLog__entry.ChatLog__entry_mine .red::before { border-left-color: #E4C8CC; }*/
/*yellow*/
/*.ChatLog__entry.ChatLog__entry_mine .yellow { background-color: #E7DCCF; border: 1px solid #E7DCCF; }
.ChatLog__entry.ChatLog__entry_mine .yellow::before { border-left-color: #E7DCCF; }*/
/*white*/
/*.ChatLog__entry.ChatLog__entry_mine .white { background-color: #fff; border: 1px solid #fff; }
.ChatLog__entry.ChatLog__entry_mine .white::before { border-left-color: #fff; }*/
=======
.ChatLog__entry.ChatLog__entry_mine .blue { background-color: #C1CBDB; border: 1px solid #C1CBDB; }
.ChatLog__entry.ChatLog__entry_mine .blue::before { border-left-color: #C1CBDB; }
/*red*/
.ChatLog__entry.ChatLog__entry_mine .red { background-color: #E4C8CC; border: 1px solid #E4C8CC; }
.ChatLog__entry.ChatLog__entry_mine .red::before { border-left-color: #E4C8CC; }
/*yellow*/
.ChatLog__entry.ChatLog__entry_mine .yellow { background-color: #E7DCCF; border: 1px solid #E7DCCF; }
.ChatLog__entry.ChatLog__entry_mine .yellow::before { border-left-color: #E7DCCF; }
/*white*/
.ChatLog__entry.ChatLog__entry_mine .white { background-color: #fff; border: 1px solid #fff; }
.ChatLog__entry.ChatLog__entry_mine .white::before { border-left-color: #fff; }
>>>>>>> tab update color

.ChatLog .margin-top--115 { margin-top: -115px; }
.ChatLog .margin-top--50 { margin-top: -50px; }

.tab-content {
    max-width: 1069px;
    margin: 0 auto;
}

@media (max-width: 426px) {
    .none {
        display: none!important;
    }

    .ChatLog__entry {
        align-items: flex-start;
    }

    .nav>li>a {
        padding: 5px;
        font-size: 13px;
        min-height: 50px;
    }

    .ChatLog__message {
        padding: 0.4em;
    }

}

@media (max-width: 1024px) {
    .ChatLog .margin-top--115 { margin-top: 0; }
    .ChatLog .margin-top--50 { margin-top: 0; }    
}

@media (max-width: 768px) {
    .nav>li>a {
        padding: 10px 2px;
    }
}

    