#page4 {
	background: #f4f4f4;
}

/*節目介紹*/
.show {
	width: 26%;
	background: #fff;
	text-align: center;
	margin: 0 15px;
	border-radius: 3px;
	flex-basis: 210px;
}

.show img {
	width: 50%;
	border-radius: 1px 1px 0 0;
	max-width: 200px;
	margin-top: 15px;
}

.show h3 {
	color: #4D98D1;
}

._show_content {
	margin: 0 0 15px 0;
	padding: 0 15px;
}

._show_content_long {
	margin-bottom: 40px;
}

.show a ._show_btn {
	border-radius: 3px;
	color: #E13745;
	padding: 10px 25px;
	font-size: 15px;
	background: #fff;	
	border: 1px solid #d0d0d0;
	width: 150px;
    margin: 0 auto 40px auto;
    display: inline-block;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
    top: 8px;
}
.show a:hover ._show_btn {
	background: #e6e6e6;
	color: #535353;
}

@media (max-width: 375px) {
	.show {
		flex-basis: 305px;
	}
}

@media (max-width: 426px) {
	.show a ._show_btn {
		display: none;
	}
	.flex-md {
		flex-wrap: wrap;
	}
	.show {
		margin: 10px 0 0 0;
	}
	#page4 .h-30 {
		height: 0;
	}
}

@media (max-width: 768px) {
	.show {
		width: 30%;
		/*margin: 10px 0 0 0;*/
		border-radius: 0;
	}
	._show_content h3 {
		font-size: 19px;
	}
}





