#page6 {
	background: #f4f4f4;
	overflow: hidden;
}

.join-form input, .join-form textarea {
	outline: none;
}

.join-form input[type="text"], .join-form input[type="number"] {
  display: block;
}

.join-form ul {
  padding: 0;
}

.join-form li {
	display: block;
}

.join-form li input[type="text"] {
  display: inline;
}

.join-form textarea {
  resize: none;
  display: block;
  width: 80%;
  height: 120px;
}

.join-form .ss-form-question, .join-form .ss-navigate {
  margin: 15px 10px;
}

.footer-animal {
	margin-bottom: -4%;
}

.footer-animal img {
	width: 15%;
}

.form-control {
	box-shadow: none;
}

.send {
	width: 100%;
    background: #4D98D1;
    border: none;
    border-radius: 3px;
    line-height: 2em;
    color: #fff;
    font-size: 16px;
}